workflow.json
{
  "name": "Lead Intake Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        96
      ],
      "id": "dc409f40-a152-4718-9bca-1116af64df80",
      "name": "Webhook Lead Intake",
      "webhookId": "53624a18-67d2-4c8f-b91b-6c3d440c7896"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst errors = [];\n\nif (!body.firstName || body.firstName.trim() === '') {\n  errors.push({ field: 'firstName', reason: 'Le prénom est requis.' });\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!body.email || body.email.trim() === '') {\n  errors.push({ field: 'email', reason: \"L'email est requis.\" });\n} else if (!emailRegex.test(body.email)) {\n  errors.push({ field: 'email', reason: \"L'email n'est pas valide.\" });\n}\n\nif (!body.projectType || body.projectType.trim() === '') {\n  errors.push({ field: 'projectType', reason: 'Le type de projet est requis.' });\n}\n\nif (!body.city || body.city.trim() === '') {\n  errors.push({ field: 'city', reason: 'La ville est requise.' });\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      ...body,\n      valid: false,\n      error: 'VALIDATION_ERROR',\n      message: `${errors.length} champ(s) invalide(s).`,\n      errors\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...body,\n    valid: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        96
      ],
      "id": "18d3055a-3a52-4ac5-801c-acfdb0e202e0",
      "name": "Handle Missing Fieldscript"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst body = $input.first().json;\n\nconst now = new Date();\n\nconst priority =\n  body.projectType === 'seller' ||\n  body.budget > 400000\n    ? 'high'\n    : 'standard';\n\nconst leadId = crypto.randomUUID();\n\nconst summary =\n`${body.firstName} ${body.lastName}\nest un lead ${\nbody.projectType === 'seller'\n? 'vendeur'\n: 'acheteur'\n} à ${body.city}\navec un budget de ${body.budget} €.`;\n\nreturn [{\n  json: {\n    ...body,\n    leadId,\n    receivedAt: now.toISOString(),\n    priority,\n    summary\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        80
      ],
      "id": "0a23154a-5d70-4183-bf1c-d010eb9911aa",
      "name": "Enrich Lead Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    success: true,\n    leadId: $('Enrich Lead Data').item.json.leadId,\n    priority: $('Enrich Lead Data').item.json.priority,\n    summary: $('Enrich Lead Data').item.json.summary,\n    message: \"Merci pour votre demande. Votre demande a bien été prise en compte. Notre équipe vous contactera dans les meilleurs délais.\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        80
      ],
      "id": "8841a397-5e57-4664-980c-555d366756da",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "budget": "={{ $json.budget }}",
            "first_name": "={{ $json.firstName }}",
            "lead_id": "={{ $json.leadId }}",
            "last_name": "={{ $json.lastName }}",
            "email": "={{ $json.email }}",
            "city": "={{ $json.city }}",
            "project_type": "={{ $json.projectType }}",
            "priority": "={{ $json.priority }}",
            "source": "={{ $json.source }}",
            "received_at": "={{ $json.receivedAt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_type",
              "displayName": "project_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        80
      ],
      "id": "74bc6976-b9a6-4796-bcc9-8ed1315b27c0",
      "name": "Save Lead to PostgreSQL",
      "credentials": {
        "postgres": {
          "id": "u80VrOW9CW9ekPPa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    success: false,\n    error: $json.error,\n    message: $json.message,\n    errors: $json.errors\n  }\n}}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -592,
        256
      ],
      "id": "4842ba11-7692-4f4d-9b70-9009b55022a4",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_sent": true,
            "lead_id": "={{ $('Enrich Lead Data').item.json.leadId }}",
            "email_sent_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_type",
              "displayName": "project_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_sent",
              "displayName": "email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_sent_at",
              "displayName": "email_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        80
      ],
      "id": "45365e68-b0d0-4f20-810c-e3299c2bff1a",
      "name": "Update Email status",
      "credentials": {
        "postgres": {
          "id": "u80VrOW9CW9ekPPa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e335ce61-5f97-4784-b9e5-6fe31d4a65ac",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        96
      ],
      "id": "071e2e5f-8347-4469-a322-3930171993e7",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\n\nconst isHighPriority = data.priority === 'high';\n\nreturn [{\n  json: {\n    ...data,\n    statusLabel: isHighPriority \n      ? 'Lead prioritaire détecté' \n      : 'Lead standard détecté',\n    statusColor: isHighPriority ? '#e74c3c' : '#2ecc71',\n    statusEmoji: isHighPriority ? '⚡' : '✅',\n    badgeColor: isHighPriority ? '#e74c3c' : '#2ecc71',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        80
      ],
      "id": "8701afe3-17ba-4573-840f-70331f9b1361",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "admin@weinvest.com",
        "toEmail": "manager@test.com",
        "subject": "Hello there !",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"background-color: #1a1a2e; padding: 20px; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 24px;\">🏠 WeInvest - Nouveau Lead</h1>\n  </div>\n  <div style=\"background-color: #f8f9fa; padding: 20px; border: 1px solid #e0e0e0;\">\n\n    <!-- CHANGEMENT 1 : emoji + label + couleur dynamiques -->\n    <h2 style=\"color: {{ $json.statusColor }}; margin-top: 0;\">{{ $json.statusEmoji }} {{ $json.statusLabel }}</h2>\n\n    <p style=\"font-size: 15px; color: #333;\">\n      Le flux n8n a bien été exécuté.\n    </p>\n    <p style=\"font-size: 15px; color: #333; font-weight: bold;\">\n      Résumé du lead reçu :\n    </p>\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr style=\"border-bottom: 1px solid #e0e0e0;\">\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">Nom</td>\n        <td style=\"padding: 10px;\">{{ $json.firstName }} {{ $json.lastName }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #e0e0e0;\">\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">Email</td>\n        <td style=\"padding: 10px;\">{{ $json.email }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #e0e0e0;\">\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">Ville</td>\n        <td style=\"padding: 10px;\">{{ $json.city }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #e0e0e0;\">\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">Type de projet</td>\n        <td style=\"padding: 10px;\">{{ $json.projectType }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #e0e0e0;\">\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">Budget</td>\n        <td style=\"padding: 10px;\">{{ $json.budget }} €</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #e0e0e0;\">\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">Priorité</td>\n        <td style=\"padding: 10px;\">\n          <!-- CHANGEMENT 2 : couleur du badge dynamique -->\n          <span style=\"background-color: {{ $json.badgeColor }}; color: white; padding: 3px 10px; border-radius: 12px;\">\n            {{ $json.priority }}\n          </span>\n        </td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #e0e0e0;\">\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">Source</td>\n        <td style=\"padding: 10px;\">{{ $json.source }}</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #e0e0e0;\">\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">Date de réception</td>\n        <!-- CHANGEMENT 3 : date formatée -->\n        <td style=\"padding: 10px;\">{{ $json.formattedDate }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; font-weight: bold; color: #555;\">ID du lead</td>\n        <td style=\"padding: 10px;\">{{ $json.leadId }}</td>\n      </tr>\n    </table>\n    <div style=\"margin-top: 20px; padding: 15px; background-color: #fff3cd; border-left: 4px solid #ffc107;\">\n      <!-- CHANGEMENT 4 : statut dynamique -->\n      <strong>Statut :</strong><br />\n      {{ $json.statusLabel }}.\n    </div>\n    <p style=\"font-size: 13px; color: #666; margin-top: 20px;\">\n      Ce message a été généré automatiquement depuis un workflow n8n exécuté en local.\n    </p>\n  </div>\n  <div style=\"background-color: #1a1a2e; padding: 15px; border-radius: 0 0 8px 8px; text-align: center;\">\n    <p style=\"color: #888; margin: 0; font-size: 12px;\">\n      Généré automatiquement par le workflow n8n\n    </p>\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        80
      ],
      "id": "6e966b2b-6793-4dfd-84c0-e8e69cce643d",
      "name": "Send Email",
      "webhookId": "248e31b1-73fe-4c13-abac-e28c7e95ba01",
      "credentials": {
        "smtp": {
          "id": "m2j4oI832GnPjN3m",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Lead Intake": {
      "main": [
        [
          {
            "node": "Handle Missing Fieldscript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead Data": {
      "main": [
        [
          {
            "node": "Save Lead to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to PostgreSQL": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Missing Fieldscript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Email status": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Enrich Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Email status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "983c6140-a42a-4cc7-8cde-bda85e4e933f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e99287b7488ab4ad7d5bcef83b54f011182e434ec96784fb2b564badfb9f3798"
  },
  "id": "H6O2gfn9iIdZRB5g",
  "tags": []
}